.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

}
body{
  background-color: white;
  }

  .width-control {
   position: relative;
   margin: auto;
   top: 0px;
   right: 0;
   bottom: -200px;
   left: 0;
   width: 700px;
   height: 0;

  }

.width-control-body{
border: 0.4px solid white;
}

h1{
  text-align: center;
}
.inside{
padding-right: 30px;

}
nav {
  background-color: #595959;
  color: #fff6ff;
  border-radius: 5px;


  }

  ul {
    list-style: none;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  li{
    display: inline-block;
    padding-right: 50px;
  }
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: silver;
}
.A {
grid-column: 1;
grid-row: 1;
background-color: gray;
color: white;
text-align: center;
font-size: 20px;
height: auto;
padding: 30px;
box-shadow:inset 0 0 10px #000000;
}

.B {
grid-column: 2;
grid-row: 1;
background-color: gray;
color: white;
text-align: center;
font-size: 20px;
height: auto;
padding: 30px;
box-shadow:inset 0 0 10px #000000;
}

.animation {
grid-column: 1/3;
grid-row: 2;
color: white;
text-align: center;
font-size: 20px;
height: 200px;
border: 1px solid black;
padding: auto;
/*background-color: black;*/
/*background: linear-gradient(35deg, #CCFFFF, #FFCCCC);*/
}

#rect {
    height: 40px;
    width: 20%;
    background: cyan;
    margin:auto;
    border-radius: 50%;

  }

  #rect {
    animation-name: rainbow;
    animation-duration: 3s;
  }

  @keyframes rainbow {
0% {background-color:blue;}
50%{background-color: green;}
100% {background-color: yellow;}
  }

.photo {
grid-column: 1/3;
grid-row: 3;
color: white;
text-align: center;
font-size: 20px;
height: 350px;
background-image: url(C:/Users/Dankore/Desktop/Coding/ASSIGNMENT/food.jpg);
background-size:contain;
color: white;
font-size: 20px;
border: 1px solid #fff;
}

.footer{

  background-color: gray;
  text-align: center;
  padding-top: 15px;
  color:white;
  border: 1px solid #fff;
  margin-top: 700px;
}
